        .Zhuchao_content{
            height:200px;
            width:80%;
            border:1px solid grey;
            margin-bottom: 20px;
        }
        .Zhuchao_photo_act{
            margin-top: 1%;
            margin-left:1%;
            height:180px;
            width:28.7%;
            float:left;
            border:1px solid grey;
        }
        .Zhuchao_detail_act{
            width:68.75%;
            margin-left:31%;
        }
        .Zhuchao_detail_act h3{
           position:relative; top:-10px;
        }
        .p1{
            font-size:100%; color:grey; position:relative; top:-10px;
        }
        .p2{
            font-size:100%; position:relative; top:-15px;
        }