.myContent{
	width: 100%;
}
.mytable{
	width: 70%; margin-top: 0;border:0;border-left: 1px solid #000;border-right: 1px solid #000;margin-left:15%; 
}
.basicImformation{
	margin:20px;
}
.title{
	margin-top: 0px;margin-bottom: 10px;
}
.mydisplayPhoto{
	     float: left;
		 width: 170px;
		 border: 0;
         margin-top: 0;
}
.mydisplayPhoto img{
		width: 170px;
		height:200px;
}
.myMorePhoto{
	     width: 170px;
         height: 40px;
         margin-top: 10px;
         border-style: solid;
         border-width: 1px;
}
.imformation{
	display: inline-block;margin-left: 35px;margin-top: 10px; font-size: 16px;
}
.room_facility
{
	margin-left:20px;margin-right:20px;padding: 20px; border: 0;border-top: 1px solid #000;border-bottom: 1px solid #000;
}
.room_facility span{
	vertical-align:top;
}
.room_facility div{
	font-size: 10px;width: 30px;margin: 5px; display: inline-block;
}
.house_discribtion{
	margin-left:20px;margin-right:20px;padding: 10px; border: 0;border-bottom: 1px solid #000; 
}
.house_discribtion span{
	float: left;
}
.house_discribtion div{
	font-size: 12px;
}
.community{
	margin-left:20px;margin-right:20px;padding: 10px; border: 0;border-top: 1px solid #000;height: 200px;
}
.community span{
	float: left;
}
.community div{
	font-size: 12px;float: left;
}
#map{
	height: 180px;width: 350px;float: right;
}
.similarHouse{
	margin-left:20px;margin-right:20px;padding: 10px; height: 170px; border-top: 1px solid #000;
}
.similarHouse span{
	float: left;
}
.display{
	margin-left: 100px;
}
.displaycard{
	display: inline-block; border: 1px solid #000; width: 130px;margin: 10px;
}
.dispPhoto{
	width: 130px;height: 100px;
}
.disTag{
border:0; border-top: 1px solid #000; width: 130px;font-size: 13px;	
}
.the_host{
	display: inline-block;
}