.myContent{
	width: 100%;
}
.mytable{
	width: 70%; margin-top: 0;border:0;border-left: 1px solid #000;border-right: 1px solid #000;margin-left:15%; 
}
.basicImformation{
	margin:20px;
}
.mytitle1{
	margin-top: 0px;margin-bottom:10px;width: 100%;
}
.myProfilePhoto1{
	    float: left;
		width: 300px;
		height:250px;
		background-color: #fef;
		border:1px solid #000;
		margin-left: 30px;
		margin-top:30px; 
		margin-bottom: 20px;

}
.myProfilePhoto1 img{
	width: 300px;
    height: 175px;
    margin-top: 0;
}
.myProfilePhoto1 div{
	width: 300px;
    height: 75px;
    border: 1px solid #000;
}

.myimformation1{
	margin-left: 400px;margin-top: 35px; font-size: 13px;
}
#price{
	font-size: 20px;font-weight: bold;color: #BCEE68;
}
.room_facility
{
	margin-left:20px;margin-right:20px;padding: 20px; border: 0;border-top: 1px solid #000;border-bottom: 1px solid #000;
}
.room_facility span{
	vertical-align:top;
}
.room_facility div{
	font-size: 10px;width: 30px;margin: 5px; display: inline-block;
}
.house_discribtion{
	margin-left:20px;margin-right:20px;padding: 10px; border: 0; border-bottom: 1px solid #000;
}
.house_discribtion span{
	float: left;
}
.house_discribtion p{
	font-size: 12px
}
.community{
	margin-left:20px;margin-right:20px;padding: 10px; border: 0;border-bottom: 1px solid #000;height: 200px;
}
.community span{
	float: left;
}
.community div{
	font-size: 12px;float: left;
}
#map{
	height: 180px;width: 350px;float: right;text-align: center;
}
.similarHouse{
	margin-left:20px;margin-right:20px;padding: 10px; height: 170px; 
}
.similarHouse span{
	float: left;
}
.display{
	margin-left: 100px;
}
.displaycard{
	display: inline-block; border: 1px solid #000; width: 130px;margin: 10px;
}
.dispPhoto{
	width: 130px;height: 100px;
}
.disTag{
border:0; border-top: 1px solid #000; width: 130px;font-size: 13px;	
}
.the_host{
	display: inline-block;
}